.container {
  display: flex;
  flex-direction: column;

  .selectContainer {
    > select {
      border: none;
      border-bottom: 2px solid black;
      outline: none;
      width: 12rem;
      font-size: 1rem;
      background-color: white;
      padding: 0.6em;
      text-align-last: left;
    }
  }

  .label {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  .helpText {
    margin: 0;
    margin-top: 0.5em;
    font-size: 0.75rem;
  }
}
