.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3rem;

  @media screen and (max-width: 500px) {
    padding: 1rem;
  }

  .price {
    margin-top: 3rem;
    font-size: 3rem;
  }

  .innerContainer {
    max-width: 500px;

    .title {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: normal;
    }

    .ingress {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    :global(.inputElement) {
      margin-bottom: 2rem;
    }

    .nameContainer {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1000px) {
        flex-direction: row;

        :global(.inputElement):first-child {
          margin-right: 2rem;
        }
      }
    }

    .buttons {
      margin-top: 3rem;

      :first-child {
        margin-right: 2rem;
      }
    }
  }
}
