@import "./fonts/fonts.scss";
@import "./util/util.scss";

* {
  font-size: 100%;
  font-family: "Fremtind Grotesk";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
